@import "../../assets/css/variables.css";
.profil {
  width: 100vw;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 4%;
}
.profilStatistics {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 7%;
}
.SectionNutrition {
  width: 33%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.statsData {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 300px;
}
.errBackend {
  color: var(--couleur-troisieme);
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .profil {
    width: 98%;
  }
  .statsData {
    height: 200px;
  }
  .SectionNutrition {
    width: 28%;
    gap: 19px;
  }
}

@media (max-width: 1023px) {
  .container {
    flex-direction: column;
    gap: 55px;
    width: 80%;
  }

  .profilStatistics {
    width: 95%;
    order: 2;
    gap: 55px;
  }
  .SectionNutrition {
    width: 95%;
    flex-direction: row;
    order: 1;
  }
}

@media (max-width: 900px) {
  .SectionNutrition {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .Activity {
    height: 300px;
  }
  .statsData {
    height: 250px;
  }
  .kilogram {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .user-top h1,
  .user-name {
    font-weight: 500;
    font-size: 28px;
  }

  .profilStatistics {
    width: 80%;
  }
  .user p {
    width: 60%;
  }
  .SectionNutrition {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .statsData {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }

  .Activity {
    /* width: 100%;
    height: 200px; */
    display: none;
  }
}
