@import "../../assets/css/variables.css";
.navbar {
  background-color: black;
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  box-shadow: 0 5px 5px #00000040;
}

.logo {
  width: 140px;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon.open .bar:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}

.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
}

.bar {
  width: 30px;
  height: 3px;
  background-color: rgb(255, 254, 254);
  margin: 6px 0;
  transition: 0.4s;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
  justify-content: space-around;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }
  .navbar {
    display: flex;
    gap: 70%;
    justify-content: flex-start;
  }
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 91px;
    left: 0;
    width: 100%;
    background-color: black;
    box-shadow: 0 5px 5px #00000040;
    z-index: 5;
  }

  .nav.open {
    display: flex;
  }

  .nav li {
    margin: 0;
    padding: 15px;
  }
  .nav li :hover {
    background-color: var(--couleur-principale);
    width:100vw;
  } 
}

@media (max-width: 500px) {
  .navbar {
    gap: 50%;
  }
}
@media (max-width: 390px) {
  .navbar {
    gap: 40%;
  }
}
@media (max-width: 320px) {
  .navbar {
    gap: 30%;
  }
}
