@import "../../assets/css/variables.css";
.Activity {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  background-color: var(--couleur-secondaire);
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: stretch;
}

.barChartTitle {
  top: 37px;
  left: 42px;
  margin: 0;
  z-index: 2;
  width: max-content;
  font-size: 1.5rem;
  font-weight: 500;
}

.customTooltipBarChart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--couleur-troisieme);
  padding: 8px;
  color: #fff;
  width: 30px;
  height: 50px;
  font-size: 8px;
}
.headerBarChart {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.custom-tooltip-legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 19px;
}

.kilogram {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #74798c;
}
.desc {
  margin-left: 7px;
}

.blackRound {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #282d30;
}

.redRound {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--couleur-principale);
}

@media (max-width: 1024px) {
  .barChartTitle {
    font-size: 14px;
  }
  .kilogram {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .barChartTitle {
    font-size: 14px;
  }
}
