.users {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
 

 
.userBtn {
    background: #FF0101;
    border: 6%;
   padding: 10px 20px;
  }
   
  .userBtn:hover {
    color: #fff;
  }
  .userBtn:hover:after {
    left: 0;
    width: 100%;
  }
  .userBtn:active {
    top: 2px;
  }
  