.vertical-navigation {
  width: 117px;
  background-color: black;
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20%;
  padding-top: 10%;
  position: fixed;
  z-index: 1;
  height: 100%;
}

.vertical-navigation-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}
.vertical-navigation-p {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  transform: rotate(90deg);
  color: white;
  width: 142px;
}

 
@media (max-width: 1024px) {
  .vertical-navigation {
    padding-top: 20%;
  }
}

 