.App {
  margin: 0 auto;
  min-height: 780px;
  min-width: 1024px;
  font-family: "Roboto";
}
body {
  margin: 0 auto;
  font-family: "Roboto";
}

.RoutesPath {
  padding-left: 15%;
  padding-top: 10%;
  padding-bottom: 5%;
  padding-right: 0;
  margin-right: 0;
}
@media (min-width: 1024px) {
  .RoutesPath {
    padding-bottom: 0;
  }
}
/* @media (max-width: 500px) {
  .RoutesPath {
    padding-left: 10%;
    width: 30%;
  }
}
@media (max-width: 900px) {
  .RoutesPath {
    width: 50%;
  }
} */
