.App {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 780px;
  min-width: 1024px;
  font-family: "Roboto";
}
body {
  margin: 0 auto;
  font-family: "Roboto";
}
.App-page {
  display: inline-flex;
  width: 100%;
 
}
