@import "../../assets/css/variables.css";

.RadialBarChart {
  width: 30%;
  background-color: var(--couleur-secondaire);
  border-radius: 5px;
  position: relative;
}

.recharts-responsive-container {
  position: relative;
  width: 90%;
  height: 80%;
  min-width: 0px;
}
.RadialBarChartTitle {
  padding-left: 20px;
  color: #20253a;
  font-size: 15px;
  font-weight: 500;
}
.recharts-responsive-container {
  margin: 0 auto;
}
.scoreValue {
  color: #141414;
  font-weight: 500;
  line-height: 1.625rem;
  text-align: center;
  position: absolute;
  right: 42%;
  bottom: 17%;
  z-index: 2;
}

.scoreValue p {
  margin: 0;
  font-size: 16px;
}
.radialBarChartContiner {
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .scoreNumber {
    font-size: 26px !important;
  }
}
@media (max-width: 1370px) {
  .scoreValue {
    right: 35%;
    bottom: 20%;
  }
}
@media (max-width: 1023px) {
  .scoreValue {
    bottom: 30%;
  }
}

@media (max-width: 500px) {
  .RadialBarChart {
    width: 40%;
  }
  .scoreValue {
    right: 39%;
    bottom: 24%;
  }
}
