.RadialBarChart {
  width: 30%;
  background-color: #00000005;
  border-radius: 5px;
}
.recharts-responsive-container {
  position: relative;
}
.RadialBarChartTitle {
  padding-left: 20px;
  color: #20253a;
  font-size: 15px;
  font-weight: 500;
}
.recharts-responsive-container {
  margin: 0 auto;
}
.scoreValue {
  color: #141414;
  font-weight: 500;
  line-height: 1.625rem;
  text-align: center;
  position: absolute;
  right: 40%;
  bottom: 30%;
  z-index: 2;
}
.scoreNumber {
  font-size: 26px !important;
}
.scoreValue p {
  margin: 0;
  font-size: 16px;
}
