.RadarChartContainer {
  background-color: #282d30;
  border-radius: 5px;
  width: 30%;
  height: 100%;
}
@media (min-width: 1024px) {
  .radar {
    width: 90% !important;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .RadarChartContainer {
    width: 40% !important;
  }
}
